<!-- start footer Area -->		
<footer class="footer-area">
    <div class="copyright-text">
        <div class="container">
            <div class="row footer-bottom d-flex justify-content-between">
                <p class="col-lg-8 col-sm-6 footer-text m-0 text-white">Copyright &copy;2019 | Tous droit reserver | ce site web est faite avec <i class="fa fa-heart-o" aria-hidden="true"></i> par <a href="https://tsiryjl.netlify.app" target="_blank">TsiryJL</a></p>
                <div class="col-lg-4 col-sm-6 footer-social">
                    <a href="https://web.facebook.com/tsiry.razanakoto.5/"><i class="fa fa-facebook"></i></a>
                    <a href="https://www.linkedin.com/in/tsiry-razanakoto-b035a9170/"><i class="fa fa-linkedin"></i></a>
                    <a href="https://www.instagram.com/tsiryjl/"><i class="fa fa-instagram"></i></a>
                    <a href="https://github.com/tsiryJL"><i class="fa fa-github"></i></a>
                    <a href="https://tsiryjl.netlify.app"><i class="fa fa-briefcase"></i></a>
                </div>
            </div>						
        </div>
    </div>
</footer>
<!-- End footer Area -->	